<div class="sidebar">
    <h2 class="logo">Admin Panel</h2>

    <ul>
        <li><a href="/admin/dashboard">Dashboard</a></li>
        <li><a href="/admin/companies">Companies</a></li>
        <li><a href="/admin/medicines">Medicines</a></li>
        <li><a href="/admin/pharmacists">Pharmacists</a></li>
        <li><a href="/admin/inventory">Inventory</a></li>
        <li><a href="/admin/invoices">Invoices</a></li>
        <li><a href="/admin/reports">Reports</a></li>
        <li><a href="/auth/logout">Logout</a></li>
    </ul>
</div>
