<div class="sidebar">
    <h2 class="logo">Pharmacist</h2>

    <ul>
        <li><a href="/pharmacist/dashboard">Dashboard</a></li>
        <li><a href="/pharmacist/medicines">Medicines</a></li>
        <li><a href="/pharmacist/inventory">Inventory</a></li>
        <li><a href="/pharmacist/sales">Sales</a></li>
        <li><a href="/pharmacist/invoices">Invoices</a></li>
        <li><a href="/pharmacist/reports">Reports</a></li>
        <li><a href="/auth/logout">Logout</a></li>
    </ul>
</div>
